*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

header{
    background-color: black;
    text-align: center;
    color: white;
    height: 15vh;
}

header button{
    margin-top: 20px;
}

.article {
    width: 100%;
    height: auto;
}
#newsList img {
    display: flex;
    width: 100%;
    border-radius: 20px;
    height: 350px;
}
#newsList h2 {
    margin-top: 20px;
}
section#newsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 20px;
    padding: 0 15px;
}
header button {
    width: 100px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    background: red;
    border: 0px;
    border-radius: 12px;
}